body{background-color: seashell;
    font-size: larger;}
h1
{
  color: green;
}
.navbar-brand{
    font-family: 'New Rocker', cursive;
    font-size: xx-large;
    color: black;
}
nav{
    font-size: larger;
    padding: 1%;
}
#myNavbar{
    font-size: larger;
    
}
a{
    font-size: larger;
}
.card{
    border: 2px solid wheat;
   
}
